.RadTile_MyCustomSkin {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #ffffff;
  background-color: #eeeeee;
  /* Loading image */ }
  .RadTile_MyCustomSkin.rtileSelected {
    border-color: #666; }
  .RadTile_MyCustomSkin.rtileHovered {
    border-color: #9f9f9f; }
  .RadTile_MyCustomSkin.rtileSelected.rtileHovered {
    border-color: rgba(102, 102, 102, 0.7); }
  .RadTile_MyCustomSkin.rtileSelected .rtileSelectedIcon {
    background-image: url('Tile/rtileSprite.png');
    _background-image: url('Tile/rtileSpriteIE6.png'); }
  html .RadTile_MyCustomSkin.RadTile h6.rtileTitle {
    color: #333333; }
  .RadTile_MyCustomSkin .rtilePeekContent {
    background-color: #eeeeee; }
  .RadTile_MyCustomSkin.rtileLoading,
  .RadTile_MyCustomSkin .rtileLoading {
    background-image: url('Common/loading_small.gif'); }

