ul.accordion, ol.accordion {
	margin: 0;
	padding: 0;
}
.accordion li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.accordion li:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
 *zoom: 1;
}
.accordion li li {
	list-style-type: disc;
	margin-left: 1em;
}
.accordion a {
	color: inherit;
	text-decoration: inherit;
}
.accordion .loading {
	display: none;
}
/*acc*/

#page {
	width: 200px;
	padding: 0px;
	clear: both;
	float: left;
}
#rdmore a{
	clear: both;
	float: right;
	color: #161616;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	margin-top: 5px;
	text-decoration: none;
	margin-right: 85px;
}
#rdmore a:hover{
	text-decoration: underline;
}
.hdtitle2 {
	font-family: droidserifitalic;
	font-size: 12px;
	color: #949494;
	width: 165px;
	font-weight: normal;
}
.accordion li h3 {
	background-image: url(../imgs/icon_accordion_arrow_down.png);
	background-repeat: no-repeat;
	background-position: right 5px;
	width: 200px;
}
.accordion li.active h3 {
	background-image: url(../imgs/icon_accordion_arrow_up.png);
	background-repeat: no-repeat;
	background-position: right 5px;
}
.hdtitle1 {
	color: #7E7E7E;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
}
#cntimg {
	float: left;

	width: 53px;

}
#cnttxt {
	float: left;
	width: 135px;
	font-family: 'Homenaje', sans-serif;;
	font-size: 13px;
	font-weight: normal;
	color: #666;
	margin-left: 10px;
}

