@charset "utf-8";
.red_band {
	background-color: #F52D29;
	width: 5px;
	float: left;
	height: 35px;
}
.main_title {
	font-family: 'Homenaje', sans-serif;
	background-color: #0054A0;
	float: left;
	;
	color: #F2F2F2;
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	display: block;
	width: 210px;
}
.sidebar_heading {
	float: left;
	clear: both;
	margin-top: 15px;
	margin-left: 15px;
	margin-bottom: 10px;
}
#firstleftbar {
	float: left;
	margin-right: 8px;
	margin-bottom: 20px;
}
#firstleftbar2 {
	float: left;
	margin-bottom: 20px;
	width: 370px;
	height: 270px;
}
#csiworktxt {
	font-family: 'Homenaje', sans-serif;
	font-size: 13px;
	color: #666;
	clear: both;
	float: left;
	margin-top: 5px;
	width: 288px;
	line-height: 20px;
	text-align: justify;
}
#csiworkviewall a{
	font-family: 'Homenaje', sans-serif;;
	font-size: 11px;
	color: #666;
	background-color: #EEEEEE;
	clear: both;
	float: right;
	padding-top: 3px;
	padding-right: 8px;
	padding-bottom: 3px;
	padding-left: 8px;
	text-decoration: none;
	margin-top: 20px;
	font-weight: bold;
	-webkit-border-radius: 0px 10px 0px 10px;
-moz-border-radius: 0px 10px 0px 10px;
border-radius: 0px 10px 0px 10px;

}
#csiworkviewall a:hover{
	color: #111;
	background-color: #EFEFEF;	
}
#csiworkviewall2 a{
	font-family: 'Homenaje', sans-serif;
	font-size: 11px;
	color: #666;
	background-color: #EEEEEE;
	clear: both;
	float: right;
	padding-top: 3px;
	padding-right: 8px;
	padding-bottom: 3px;
	padding-left: 8px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 0px 10px 0px 10px;
	-moz-border-radius: 0px 10px 0px 10px;
	border-radius: 0px 10px 0px 10px;
	position: absolute;
	top: 300px;
	right: 5px;
}
#csiworkviewall2 a:hover{
	color: #111;
	background-color: #EFEFEF;	
}


#csrworkbx {
	float: left;
	border: 8px solid #EFEFEF;
	margin-top: 14px;
	-webkit-border-radius: 0px 20px 0px 20px;-moz-border-radius: 0px 20px 0px 20px;border-radius: 0px 20px 0px 20px;
}
#csrworkbx img
{
	-webkit-border-radius: 0px 20px 0px 20px;-moz-border-radius: 0px 20px 0px 20px;border-radius: 0px 20px 0px 20px;
}
#csiworktxthd {
	font-family: 'Homenaje', sans-serif;
	color: #333;
	font-size: 16px;
	font-weight: bold;
	margin-top: 15px;
	clear: both;
	float: left;
}
