.btn-group>.btn:first-child {
    margin-left: 7px;
}
.btn.horizontal-bar {
    width: 6vw;
}
.modal-dialog.small{
	width: 35vw;
}
.modal-dialog.error{
	width: 25vw;
}
.mif-towtruck {
	content: url('icons/icon-towtruck.png');
	height: 6vw !important;
    width: 8vw !important;
    margin-left: -3.8vw!important;
}
